In [1]:
print("Hello word")

Hello word

In [2]:
python * 10

NameError: name 'python' is not defined

In [3]:
'python' * 10

'pythonpythonpythonpythonpythonpythonpythonpythonpythonpython'

In [4]:
str(100) * 10

'100100100100100100100100100100'

In [5]:
'I love python' * 1.2

TypeError: can't multiply sequence by non-int of type 'float'

In [6]:
'I love python' * 2

'I love pythonI love python'

In [7]:
'fhfh' + 10

TypeError: can only concatenate str (not "int") to str

In [8]:
print(type('Python'))

<class 'str'>

In [9]:
'Hello'[0]

'H'

In [10]:
'Hello'[2]

'l'

In [11]:
'Hello cambodia'[-1]

'a'

In [12]:
'Hello cambodia'[-2]

'i'

In [13]:
'Hello cambodia'[-30]

IndexError: string index out of range

In [14]:
'Hello cambodia'[-9]

' '

In [15]:
text="""First line second line

SyntaxError: incomplete input (989672203.py, line 1)

In [16]:
text="""First line second line"""
print(text)

First line second line

In [17]:
text="""First line
second line"""
print(text)

First line
second line

In [18]:
text="""First line
second line
do
did
done"
print(text)

SyntaxError: incomplete input (350290812.py, line 1)

In [19]:
text="""First line
second line
do
did
done"""
print(text)

First line
second line
do
did
done

In [20]:
text='Learning is \nessential'

In [21]:
text='Learning is \nessential'
print(text)

Learning is
essential

In [22]:
text='Learning is\nessential'
print(text)

Learning is
essential

In [24]:
text='"Do you like apple?"'
print(text)

"Do you like apple?"

In [26]:
text="'Do you like bananas?'"
print(text)

'Do you like bananas?'

In [30]:
text="\"Bunthai\""
print(text)

"Bunthai"

In [31]:
text='\'Bunthai\''
print(text)

'Bunthai'

In [37]:
print('write this \"How about now" will show you')

write this "How about now" will show you

In [39]:
value1=1
value2='string'
'first value is {} and second value is {}'.format(value1,value2)

'first value is 1 and second value is string'

In [40]:
'Hello {}'.format('python')

'Hello python'

In [41]:
3 + {}.format(3)

AttributeError: 'dict' object has no attribute 'format'

In [42]:
'4 + {}'.format('4')

'4 + 4'

In [45]:
'{2}+{1}= {0}'.format(1+2,4,4+2)

'6+4= 3'

In [47]:
'{0},{0},{0},pyhton'.format('hello')

'hello,hello,hello,pyhton'

In [48]:
'{:10}'.format(123)

'       123'

In [49]:
'{:10}'.format('python')

'python    '

In [50]:
'{:10}'.format(1.4)

'       1.4'

In [64]:
value=123
a=10
format_value= '{:10}+ {:10}'.format(value,a)
print(format_value)

value=123
format_value= '{:<10}'.format(value)
print(format_value)

value=123
format_value= '{:>10}'.format(value)
print(format_value)

value=123
format_value= '{:^10}'.format(value)
print(format_value)

       123+         10
123
       123
   123

In [65]:
'{:10d}'.format(123)

'       123'

In [66]:
'{:10f}'.format(123)

'123.000000'

In [67]:
'{:10f}'.format(123.4)

'123.400000'

In [69]:
'{:10d}'.format(1)

'         1'

In [76]:
value=13.6
format_value= '{:10.1f}'.format(value)
print(format_value)


format_value= '{:<10f}'.format(value)
print(format_value)

format_value= '{:>10f}'.format(value)
print(format_value)


format_value= '{:^10f}'.format(value)
print(format_value)

      13.6
13.600000
 13.600000
13.600000

In [80]:
# spliting string
'{i love  python}'.split()

['{i', 'love', 'python}']

In [84]:
word1,word2,word3= 'Python is beautiful'.split()
print(word1,word2,word3)

Python is beautiful

In [86]:
year,month,day='2023.05.12'.split('.')
print(year,month,day)

2023 05 12

In [92]:
text1,text2="Dom,neardy".split(',')
print(text1,text2)

Dom neardy

In [98]:
#isdigit()
string1='545'
print(string1.isdigit())


string2='3.4'
print(string2.isdigit())

True
False

In [99]:
int('hello')

ValueError: invalid literal for int() with base 10: 'hello'

In [100]:
int(3.2)

3

In [101]:
int('2.3')

ValueError: invalid literal for int() with base 10: '2.3'